@font-face {
	font-family: "Pretendard";
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url("../assets/font/PretendardVariable.woff2") format("woff2");
}

@font-face {
	font-family: "Bricolage";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    font-variation-settings: "wdth" 100;
	src: url("../assets/font/BricolageGrotesque-Variable.ttf") format("truetype")
}

:root {
    font-size: 16px;
    
    --gap-xs: 0.25rem;
    --gap-sm: 0.5rem;
    --gap-md: 1rem;
    --gap-lg: 2rem;
    --gap-xl: 2.5rem;
    
    --radius-xs: 0.5rem; 
    --radius-sm: 1rem;
    --radius-md: 1.5rem;
    --radius-lg: 2rem;
    --radius-xl: 4rem;
    
    --page-padding-default: 16px;
    --page-padding-side: var(--page-padding-default);
    --wrapper-padding: 40px;
    
    --max-width: 1200px;
    
    --nav-height: 52px;
    --nav-top: calc(var(--page-padding-default)*2 + var(--nav-height));
    
    --padding-sm: 20px;
    --padding-lg: 40px;
    
    /* Colors */
    --gray-01: #8b8e92;
    --gray-02: #00000012;
    
    --primary-text: #020a0a;
    --secondary-text: var(--gray-01);
    --accent-text: #005b85;
    
    --main-background: #f5f5f500;
    --block-background: #ffffff00;
    --gradient-main: #657086;
    
    --line-style: 1.5px solid var(--gray-02);
}

* {
    font-family: "Bricolage";
    box-sizing: border-box;
    line-height: 120%;
    cursor: none;
}

body {
    margin: 0;
}

#mycursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 10px solid var(--gradient-main);
    border-radius: 50%;
    left: var(--mouse-x, 0);
    top: var(--mouse-y, 0);
    transform: translate(-50%, -50%);
    transform-origin: center;
    mix-blend-mode: multiply;
    z-index: 200;
    cursor: none;
    pointer-events: none;
    transition: border 0.3s ease, scale 0.3s ease;
}

#mycursor.hovering {
    scale: 1.2;
    border: 2px solid var(--gradient-main);
}

@media (pointer:coarse) {
    #mycursor {
        display: none;
    }
}


/*
BACKGROUND & STYLES
*/

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background: 
    linear-gradient(to bottom, transparent, var(--gradient-main)),
    linear-gradient(to bottom, #ececec, #f9f9f9);
    background-blend-mode: overlay, normal;
    isolation: isolate;
}

#background-img {
    position: relative;
    width: 100%;
    max-width: var(--max-width);
    height: 60%;
    pointer-events: none;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-color: var(--gradient-main);
    border-radius: var(--radius-sm);
    opacity: 1;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}

#project-name {
    position: relative;
    padding: 1.5rem 0 2rem;
    opacity: 1;
}

.white-fade {
    color: transparent;
    /* background: linear-gradient(#fafafa 80%, #fafafa35); */
    background: linear-gradient(#000000 80%, #0000006a);
    background-clip: text;
}

.black-fade {
    color: transparent;
    background: linear-gradient(#0a0a0a 60%, #0a0a0a40);
    background-clip: text;
}

.glass {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.45));
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    border: 2px solid #ffffff20;
    border-radius: inherit;
    backdrop-filter: blur(4px);
}

/*
TEXT STYLES
*/

a {
    color: inherit;
    text-decoration-line: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, li {
    padding: none;
    margin: none;
}

.pret {font-family: "Pretendard";}
.bold, b {font-weight: 620;}
b {font-family: inherit;}
.regular {font-weight: 400;}
.light {font-weight: 240;}

.gray {color: var(--secondary-text)}

.home-header {
    font-size: calc(2.8rem + 2vw);
    text-align: left;
    line-height: 140%;
}

.hero-header {
    font-size: calc(2.2rem + 2vw);
    text-align: left;
    line-height: 140%;
}

.page-header {
    margin: 1.25rem 0 0;
    font-size: 2.5rem;
}

.section-header {font-size: 2rem;}
.title-text {font-size: 1.5rem;}
.subtitle-text {font-size: 1.25rem;}
.body-text {font-size: 1rem;}
.cap-text {font-size: 0.85rem;}


/* 
LAYOUT
*/

.hflex {
    display: flex;
    flex-direction: row;
    gap: var(--gap-lg);
}

.vflex {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
}

.hspread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
TOP NAVIGATION 
*/

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
    padding: var(--page-padding-default);
    padding-bottom: 0;
    pointer-events: none;
}

#top-nav {
    width: 100%;
    max-width: 768px;
    height: var(--nav-height);
    border-radius: var(--radius-md);
    padding: 12px 16px;
    color: #323232;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    
    margin: 0 auto;
    background-color: var(--block-background);
    pointer-events: auto;
    
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(0);
    opacity: 1;
}

#top-nav.nav-hidden {
    transform: translateY(-120%);
    opacity: 0;
}

#left-nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.main-logo {
    width: 30px;
    height: 21px;
    background-color: black;
    mask: url(/assets/svg/main-logo.svg);
    -webkit-mask: url(/assets/svg/main-logo.svg);
}


/*
MAIN WRAPPERS
*/

#main-wrapper {
    position: relative;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    
    gap: var(--gap-md);
    padding: var(--nav-top) var(--page-padding-side) calc(var(--nav-top)/2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-wrapper, #project-wrapper, #detail-wrapper {
    width: 100%;
    max-width: var(--max-width);
}

#hero-wrapper {
    display: flex;
    flex-direction: row;
    gap: 80px;
    height: 100%;
    padding: var(--wrapper-padding);
    margin: auto;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#project-wrapper {
    height: auto;
    padding: var(--wrapper-padding);
    background-color: var(--block-background);
    border-radius: var(--radius-sm);
}

#detail-wrapper {
    height: auto;
    display: flex;
    padding: var(--wrapper-padding);
    gap: var(--gap-sm);
    flex-direction: column;
    border-radius: var(--radius-sm);
}


/* HOME Main */

#text-container {
    display: flex;
    gap: var(--gap-lg);
    flex-flow: column;
    width: 80%;
    height: 100%;
    align-items: start; 
    justify-content: center;
    align-self: stretch;
    margin: auto;
    text-align: left;
}

#type-element {
    color: #23008a;   
}

.typed-cursor {
    color: #23008aaa;
    font-weight: 200;
}

#icons-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    height: 100%;
    align-items: center; 
    justify-content: center;
    align-self: stretch;
}

.icon-block {
    gap: var(--gap-md);
}

.icon-image {
    position: relative;
    width: 30vw;
    max-width: 180px;
    height: 30vw;
    max-height: 180px;
    border-radius: 20px;
}

.folder-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #a5c2d580;
    border-radius: var(--radius-sm);
    mask: url(/assets/svg/folder-bottom.svg);
    -webkit-mask: url(/assets/svg/folder-bottom.svg);
}

.folder-paper {
    position: absolute;
    bottom: 15%;
    
    width: 50%;
    height: 60%;
    background-color: white;
    border-radius: var(--radius-xs);
    transform-origin: center;
    transition: all 0.3s ease;
}

.folder-paper:nth-child(2) {
    left: 10%;
}
.folder-paper:nth-child(3) {
    right: 10%;
}

.folder-top {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    background-color: #4687af86;
    border-radius: var(--radius-sm);
    transition: all 0.3s ease;
    transform-origin: bottom;
}

.icon-image:hover .folder-paper:nth-child(2){
    transform: rotate(-6deg) translateY(-12%);
}

.icon-image:hover .folder-paper:nth-child(3){
    transform: rotate(7deg) translateY(-30%);
}

.icon-image:hover .folder-top{
    transform: skew(8deg) scaleY(0.8);
}

#contact-grid {
    padding: 15%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 15%;
}

.contact-icon {
    border-radius: 50%;
    background-color: #eaeaea;
    padding: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease;
}

.contact-icon-logo {
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
    background-color: #5a5a5a;
    transition: all 0.2s ease;
}

.contact-icon:hover .contact-icon-logo{
    opacity: 0.6;
    transform: translateY(-12%);
    box-shadow: 0 0 4px 0 #000000;
}

.mail {
    mask: url(/assets/svg/contact-mail.svg);
    -webkit-mask: url(/assets/svg/contact-mail.svg);
}

.github {
    mask: url(/assets/svg/contact-github.svg);
    -webkit-mask: url(/assets/svg/contact-github.svg);
}

.linkedin {
    mask: url(/assets/svg/contact-linkedin.svg);
    -webkit-mask: url(/assets/svg/contact-linkedin.svg);
}

.insta {
    mask: url(/assets/svg/contact-insta.svg);
    -webkit-mask: url(/assets/svg/contact-insta.svg);
}

#footer {
    color: var(--secondary-text);
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap-sm) var(--wrapper-padding) 0;
}

/* Projects List */
#project-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-md);
}

.project-link-wrapper {
    width: 100%;
    color: #111;
    text-decoration: none;
}

.project-block {
    width: 100%;
    height: auto;
    padding: var(--gap-sm);
    gap: var(--gap-lg);
    border-radius: 16px;
    border: solid 2px #0a0a0a08;
    background-color: #ffffff48;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
    
    transition: all 0.4s ease;
}

.project-block-left {
    width: 100%;
    display: flex;
    padding: 16px 0px 16px;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-sm);
    align-self: stretch;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.project-color {
    display: none;
    width: 14px;
    height: 14px;
    margin-top: 5px;
    transition: all 0.2s ease;
}

.project-tag-container {
    display: flex;
    gap: 8px;
}

#tag-filters {
    flex-wrap: wrap;
    gap: 8px;
}

button, .project-tag{
    font-family: "Bricolage";
    padding: 6px 12px 4px;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: #02020a;
    background-color: transparent;
}

.active {
    background-color: #dbdbdb;
}

.thumbnail-preview {
    width: 200px; 
    min-width: 200px;
    height: 200px;
    background-size: cover;
    background-position: left;
    border-radius: 8px;
    pointer-events: none;     
    transition: all 0.3s ease;
}

.thumbnail-preview.full {
    border-radius: 8px;
    width: 100%; 
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    mask: none;
}

#project-list-container:has(.project-block:hover) .project-block:not(:hover) {
    filter: blur(3px) brightness(95%);
    opacity: 0.8;
}

.project-block:hover .project-block-left {
    display: none;
    transform: translateX(100%);
    opacity: 0;
}

/* Project Page Elements */

.project-row {
    display: grid;
    padding: var(--padding-sm) 0;
    grid-template-columns: 1fr 3fr;
    gap: var(--gap-lg);
    align-items: start;
    margin-bottom: 40px;
}

.test {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
}

.hline {
    width: 100%;
    height: 1.5px;
    background-color: var(--gray-02);
    margin-bottom: 20px;
}

.problem-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--gap-md);
}

.problem-block {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    width: 100%;
    padding: var(--padding-sm);
    border: var(--line-style);
    border-radius: var(--radius-sm);
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    width: 100%;
    min-width: 0;
}

.myswiper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.swiper-slide {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    aspect-ratio: 10 / 6;
    object-fit: cover;
    border-radius: var(--radius-sm);
}

.image-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.ratio-30 {aspect-ratio: 10 / 3;}
.ratio-40 {aspect-ratio: 10 / 4;}
.ratio-50 {aspect-ratio: 10 / 5;}
.ratio-wide {aspect-ratio: 16 / 9;}
.ratio-60 {aspect-ratio: 10 / 6;}
.ratio-75 {aspect-ratio: 4 / 3;}
.ratio-100 {aspect-ratio: 1 / 1;}

.custom-pagination {
    width: 100%;
    gap: var(--gap-md);
}

.my-bullet {
    width: 100%;
    font-size: 1rem;
    padding: var(--gap-sm) var(--gap-sm) var(--gap-sm) var(--padding-sm);
    text-align: left;
    border: none;
    transition: all 0.4s ease;
    
    display: flex;
    align-items: center;
    color: #ababab;
}

.my-bullet::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: currentColor;
    margin-right: var(--gap-sm);
    flex-shrink: 0;
}

.my-bullet:hover {
    background: #e2e2e2;
    cursor: pointer;
}

.my-bullet-active {
    background: #c9c9c9;
    color: var(--primary-text);
}

/*
hover buttons
*/

.arrow-btn, .arrow-to-top {
    color: var(--secondary-text);
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-right: auto;
}

.arrow-btn span {
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

.arrow-btn::before {
    content: attr(data-text);
    display: block;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.arrow-btn::after {
    content: "";
    width: 20px;
    height: 20px;
    margin-left: var(--gap-xs);
    background-color: var(--secondary-text);
    display: block;
    transition: all 0.3s ease;
    
    mask: url(/assets/svg/arrow-up-right.svg);
    -webkit-mask: url(/assets/svg/arrow-up-right.svg);
}

.arrow-btn:hover span {
    transform: translateY(-100%);
    opacity: 0;
}

.arrow-btn:hover::before {
    transform: translateY(0);
    opacity: 1;
    color: var(--primary-text);
}

.arrow-btn:hover::after {
    transform: rotate(45deg);
    background-color: var(--primary-text);
}

.arrow-to-top {
    color: var(--secondary-text);
}

.arrow-to-top::before {
    content:"";
    width: 20px;
    height: 20px;
    margin-right: var(--gap-xs);
    background-color: var(--secondary-text);
    display: block;
    transition: all 0.3s ease;
    
    mask: url(/assets/svg/arrow-up.svg);
    -webkit-mask: url(/assets/svg/arrow-up.svg);
}


.detail-info {
    padding-inline-start: var(--gap-sm);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-sm);
}


@media (max-width: 960px) {
    #hero-wrapper {
        flex-direction: column;
    }
    
    #icons-container {
        flex-direction: row;
    }

    .project-row {
        grid-template-columns: 1fr;
        gap: var(--gap-md);
    }
    
    .detail-info {
        padding-inline-start: 0;
        grid-template-columns: 1fr 1fr;
    }
    
    #project-list-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px) {
    
}

@media (max-width: 600px) {
    :root {
        --page-padding-side: 0px;
        --wrapper-padding: 24px;
    }
    
    .project-block {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    
    .thumbnail-preview,
    .thumbnail-preview.full {
        width: 100%;
        height: 0;
        padding-top: 40%;
    }
    
    .project-block-left {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
    
    .problem-wrapper {
        flex-direction: column;
    }
    
    .project-block:hover .project-block-left {
        display: flex;
        transform: none;
        opacity: 1;
    }
    
    .project-block-left {
        width: 100%;
    }
    
    .project-block {
        border: none;
        background: transparent;
        gap: var(--gap-xs);
    }
}

/*
480px
- project list tag vflex
*/