@font-face {
	font-family: "Pretendard";
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url("../assets/font/PretendardVariable.woff2") format("woff2");
}

@font-face {
	font-family: "Bricolage";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    font-variation-settings: "wdth" 100;
	src: url("../assets/font/BricolageGrotesque-Variable.ttf") format("truetype")
}

:root {
    font-size: 16px;
    
    --gap-xs: 0.25rem;
    --gap-sm: 0.5rem;
    --gap-md: 1rem;
    --gap-lg: 2rem;
    --gap-xl: 2.5rem;
    
    --radius-xs: 0.5rem;
    --radius-sm: 1rem;
    --radius-md: 1.5rem;
    --radius-lg: 2rem;
    --radius-xl: 4rem;
    
    --nav-height: 48px;
    --nav-top: 80px;
    
    --padding-sm: 20px;
    --padding-lg: 40px;
    
    /* Colors */
    --primary-text: #020a0a;
    --secondary-text: #dadada;
    --accent-text: #005b85;
    
    --main-background: #f5f5f500;
    --block-background: #ffffff00;
    --gradient-main: #50535a;
}

@media (max-width: 600px) {
    :root {
        --padding-sm: 8px;
        --padding-lg: 16px;
    }
}

* {
    font-family: "Bricolage";
    box-sizing: border-box;
    line-height: 120%;
}

body {
    margin: 0;
}


/*
BACKGROUND & STYLES
*/

#grain-background {
    position: fixed;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    filter: contrast(120%) brightness(120%);
    background: 
    url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.4' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(
        circle at 50% 50%, 
        rgb(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0)),
    radial-gradient(
        circle at 0% 100%, 
        rgba(48, 114, 120, 0.2) 0%, 
        rgba(255, 255, 255, 0) 100%),
    radial-gradient(
        circle at 100% 100%,
        var(--gradient-main) 0%, 
        rgba(255, 255, 255, 0) 80%),
    linear-gradient(
        to bottom right,
        rgba(138, 138, 155, 0.8) 0%, 
        rgba(255, 255, 255, 0.4) 100%), 
    var(--main-background);
    background-blend-mode: overlay, normal, normal, overlay, normal, normal;
}

#hero-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    z-index: 0;
}

#background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-size: cover;
    background-position: center;
    background-color: rgb(182, 182, 182);
    opacity: 1;
}

#project-name {
    max-width: 1000px;
    padding: 1.5rem;
    margin: auto;
    position: relative;
    opacity: 1;
}

.white-fade {
    color: transparent;
    background: linear-gradient(#f5f5f5 60%, #f5f5f540);
    background-clip: text;
}

.black-fade {
    color: transparent;
    background: linear-gradient(#0a0a0a 60%, #0a0a0a40);
    background-clip: text;
}

.glass {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(4px);
}

.glass::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: 1.5px solid transparent;
    background: linear-gradient(to bottom right, #cbccce70, #fafafa4e) border-box;
    mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
    mask-composite: subtract
}


/*
TEXT STYLES
*/

a {
    color: inherit;
    text-decoration-line: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style: none;
    padding-inline-start: var(--gap-sm);
}

.pret {font-family: "Pretendard";}
.bold {font-weight: 620;}
.regular {font-weight: 400;}
.light {font-weight: 240;}

.hero-header {
    font-size: calc(3rem + 2vw);
    text-align: center;
    line-height: 140%;
}

.page-header {
    margin: 1.25rem 0 0;
    font-size: 2.5rem;
}

.section-header {font-size: 2rem;}
.title-text {font-size: 1.5rem;}
.subtitle-text {font-size: 1.25rem;}
.body-text {font-size: 1rem;}
.cap-text {font-size: 0.85rem;}


/* 
LAYOUT
*/

.hflex {
    display: flex;
    flex-direction: row;
    gap: var(--gap-lg);
}

.vflex {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
}

.hspread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vspread {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
}


/*
TOP NAVIGATION 
*/

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
    padding: 20px;
    pointer-events: none;
}

#top-nav {
    width: 100%;
    max-width: 400px;
    height: var(--nav-height);
    border-radius: var(--radius-md);
    padding: 12px 20px;
    color: #323232;
    
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--gap-xl);
    background-color: var(--block-background);
    
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

#top-nav.nav-hidden {
    transform: translateY(-120%);
    opacity: 0;
}

#left-nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.main-logo {
    width: 30px;
    height: 21px;
    color: inherit;
    transform: translateY(8%);
}


/*
MAIN WRAPPERS
*/

#main-wrapper {
    top: var(--nav-top);
    width: 100%;
    height: calc(100vh - var(--nav-top));
    min-height: 600px;
    gap: var(--gap-lg);
    padding: 20px;
    
    position: relative;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#hero-wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: var(--gap-lg) 0px;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#project-wrapper {
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: var(--gap-lg);
    background-color: var(--block-background);
    border-radius: var(--radius-md);
}

#detail-wrapper {
    margin-top: 90vh;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    padding: var(--padding-lg);
    gap: var(--gap-sm);
    flex-direction: column;
    background-color: var(--block-background);
    border-radius: var(--radius-md);
}


/* HOME Main */

#text-container {
    display: flex;
    height: 100%;
    align-items: center; 
    justify-content: center;
    align-self: stretch;
}

#type-element {
    color: #23008a;   
}

.typed-cursor {
    color: #23008aaa;
    font-weight: 200;
}

#icons-container {
    height: 100%;
    align-items: center; 
    justify-content: center;
    align-self: stretch;
}

.icon-block {
    gap: var(--gap-sm);
}

.icon-image {
    width: 30vw;
    max-width: 180px;
    height: 30vw;
    max-height: 180px;
    border-radius: 20px;
}

#contact-grid {
    padding: 20px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 20px;
}

.contact-icon {
    border-radius: 100px;
    background-color: #dadada;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease;
}

.contact-icon-logo {
    width: 24px;
    height: 24px;
    color: #5a5a5a;
}

.contact-icon:hover {
    opacity: 0.7;
}

#footer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

/* Projects List */
#project-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.project-link-wrapper {
    color: #111;
    text-decoration: none;
}

.project-block {
    width: 100%;
    height: auto;
    padding: var(--gap-md) var(--gap-md);
    border-top: 1px solid #d7d7d7;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    
    transition: all 0.4s ease;
}

.project-block-left {
    display: flex;
    padding: 8px 0px;
    flex-direction: row;
    gap: var(--gap-md);
    align-self: stretch;
}

.project-block-right {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: var(--gap-md);
}

.project-color {
    width: 14px;
    min-width: 14px;
    height: 14px;
    margin-top: 5px;
}

.project-tag-container {
    display: flex;
    gap: 8px;
}

#tag-filters {
    flex-wrap: wrap;
    gap: 8px;
}

button, .project-tag{
    font-family: "Bricolage";
    padding: 6px 12px 4px;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: #02020a;
    background-color: transparent;
}

.active {
    background-color: #dbdbdb;
}

.thumbnail-preview {
    position: relative; 
    width: 300px; 
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    pointer-events: none; 
    z-index: 200;
    
    transition: all 0.3s ease;
}

.thumbnail-preview.full {
    width: 340px;
    height: 200px;
}

@media (max-width: 600px) {
    .project-block {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}

#project-list-container:has(.project-block:hover) .project-block:not(:hover) {
    filter: blur(2px);
    opacity: 0.8;
}

/* Project Page Elements */

.project-row {
    display: grid;
    padding: var(--padding-sm);
    grid-template-columns: 1fr 3fr;
    gap: var(--gap-lg);
    align-items: start;
}

.hline {
    width: 100%;
    height: 1.5px;
    background-color: #e5e5e5;
    margin-bottom: 20px;
}

.problem-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--gap-md);
}

.problem-block {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    width: 100%;
    padding: var(--padding-sm);
    border: #87878762 solid 1.5px;
    border-radius: var(--radius-sm);
}

@media (max-width: 800px) {
    .project-row {
        grid-template-columns: 1fr;
        gap: var(--gap-sm);
    }
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    width: 100%;
    min-width: 0;
}

.myswiper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.swiper-slide {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.project-img {
    width: 100%;
    height: calc(75vw * 0.6);
    max-height: 600px;
    background: #444;
    background-size: cover;
    background-position: center;
    border-radius: var(--radius-sm);
    margin-bottom: 16px;
}

.custom-pagination {
    width: 100%;
    gap: var(--gap-md);
}

.my-bullet {
    width: 100%;
    font-size: 1rem;
    padding: var(--gap-sm) var(--gap-sm) var(--gap-sm) var(--padding-sm);
    text-align: left;
    border: none;
    transition: all 0.4s ease;
    
    display: flex;
    align-items: center;
    color: #ababab;
}

.my-bullet::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: currentColor;
    margin-right: var(--gap-sm);
    flex-shrink: 0;
}

.my-bullet:hover {
    background: #e2e2e2;
    cursor: pointer;
}

.my-bullet-active {
    background: #c9c9c9;
    color: var(--primary-text);
}